#mainFormDiv {
    font-family: 'Inconsolata', monospace;
    background: hsl(180, 6%, 9%);
    width: 50%;
    height: 100%;
    float: left;
}

#mainForm {
    padding-top: 30%;
}

.formFieldTitle {
    
}

.formFieldInput {
    background-color: transparent;
    
    border: 0px;
    border-bottom: 50px;
    border-bottom-width: 50px;
    border-bottom-color: blue;
    
    color: hsl(0, 0%, 70%);
}

.formFieldInput:hover {
    
}

.deleteFieldBtn {
    border: 0;
    padding: 0;
    height: 0;
    width: 0;
}

.deleteFieldBtnImg {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    padding: 0;
    opacity: 0%;
}

.deleteFieldBtnImg:hover {
    opacity: 100%;
}