#mainFormDiv {
    font-family: 'Inconsolata', monospace;
    background: hsl(180, 6%, 9%);
    width: 50%;
    height: 100%;
    float: left;
}

#mainForm {
    margin-top: 30%;
}

.formField {
    position: relative;
    margin-left: 35%;
    
    text-align: left;
}

.formFieldInput {
    background-color: transparent;
    
    border: 0px;
    border-bottom: 50px;
    border-bottom-width: 50px;
    border-bottom-color: blue;
    
    color: hsl(0, 0%, 70%);
}

.deleteFieldBtn {
    background-color: transparent;
    background-size: 100% 100%;
    
    border: 0;
    padding: 0;
    margin-left: -20px;
    height: 20px;
    width: 20px;
    vertical-align: middle;
}

.deleteFieldBtn:hover {
    background-image: url(../images/delete.png);
}

.deleteFieldBtnImg {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    padding: 0;
    opacity: 0%;
}

.deleteFieldBtnImg:hover {
    opacity: 100%;
}

#mainFormButtons {
    margin-top: 40px;
}