#resultDiv {
    font-family: 'Inconsolata', monospace;
    background: red;
    
    width: 50%;
    height: 100%;
    float: left;
}

#previewDiv {
    background: hsl(180, 6%, 11%);
    
    position: relative;
    height: 50%;
}

#preview {
    background: grey;
    background-repeat: no-repeat;
    background-size: cover;
    
    position: absolute;
    height: 250px;
    width: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    border-radius: 30px;
}


/*Change Background*/
#previewChangeBackgroundBtn {
    background-image: url(../images/pencil-square-light.svg);
    background-repeat: no-repeat;
    background-size: 60% 60%;
    background-color: transparent;
    background-position: center;
    
    position: absolute;
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    left: 100%;
    transform: translate(-100%, 0);
    
    border: 0;
}

#previewChangeBackgroundBtn:hover {
    background-image: url(../images/pencil-square.svg);
}

#changeBackgroundWindow {
    background: hsl(180, 6%, 30%);
    display: none;
    
    position: absolute;
    float: left;
    height: 100px;
    width: 200px;
    left: 100%;
    
    border-radius: 5px;
}

#changeBackgroundWindow:hover {
    /*display: block;*/
}

#changeBackgroundWindowContent {
    position: absolute;
    width: 106px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    
    text-align: left
}

#changeBackgroundColorBtn {
    vertical-align: middle;
}

#openBackgroundImageBtn {
    font-size: 0;
}

#openBackgroundImageBtn::file-selector-button {
    display: none;
}

#openBackgroundImageBtnBtn {
    background-image: url(../images/image.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
    width: 50px;
    height: 27px;
    padding: 1px 2px;
    vertical-align: middle;
    
    border: 1px;
    border-style: solid;
    border-radius: 3px;
    border-color: rgb(118, 118, 118);
}


/*Draggable*/
.previewField {
    /*cursor: move;*/
    display: inline-block;
}

.previewField > p {
    display: contents;
}


/*Logo*/
#previewLogo {
    background-image: url(../images/standard-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
    position: relative;
    float: left;
    height: 90px;
    width: 90px;
    top: 30px;
    left: 30px;
}

#previewLogo:hover {
    /*height: 90px;
    width: 90px;*/
}

#previewLogo > div {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0%;
    
    position: absolute;
    height: 100%;
    width: 100%;
}

#previewLogo > div:hover {
    opacity: 100%;
}

#previewLogo > div > input {
    z-index: 5;
    
    height: 100%;
    width: 100%;
    
    font-size: 0;
}

#previewLogo > div > input::file-selector-button {
    display: none;
}

#previewLogo > div > button {
    font-family: 'Inconsolata', monospace;
    background-color: transparent;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    border: 0;
    
    color: white;
    font-size: 20px;
}

/*#movePreviewLogoBtn {
    background-image: url(../images/pencil-square.svg);
    background-repeat: no-repeat;
    background-size: contain;
    
    position: absolute;
    margin: 0;
    padding: 0;
    height: 20px;
    width: 20px;
    left: 100%;
}

#deletePreviewLogoBtn {
    background-image: url(../images/delete.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;
    
    position: absolute;
    margin: 0;
    padding: 0;
    height: 20px;
    width: 20px;
    left: 100%;

    border: 0;
}*/


/*FirstName*/
#previewFirstName {
    position: absolute;
    top: 30px;
    left: 160px;
    
    color: black;
    text-align: left;
    font-size: 35px;
}

#previewFirstNameP {
    margin: 0;
}


/*LastName*/
#previewLastName {
    position: absolute;
    top: 30px;
    left: 280px;
    
    color: black;
    text-align: left;
    font-size: 35px;
}

#previewLastNameP {
    margin: 0;
}


/*Profession*/
#previewProfession {
    position: absolute;
    top: 70px;
    left: 160px;
    
    color: black;
    text-align: left;
    font-size: 30px;
}

#previewProfessionP {
    margin: 0;
}


/*E-Mail*/
#previewEmail {
    position: absolute;
    top: 130px;
    left: 30px;
    
    color: black;
    text-align: left;
    font-size: 25px;
}

#previewEmailP {
    margin: 0;
}


/*Telefon*/
#previewTel {
    position: absolute;
    top: 165px;
    left: 180px;
    
    color: black;
    text-align: left;
    font-size: 20px;
}

#previewTelP {
    margin: 0;
}


/*Website*/
#previewWebsite {
    position: absolute;
    top: 165px;
    left: 30px;
    
    color: black;
    text-align: left;
    font-size: 20px;
}

#previewWebsiteP {
    margin: 0;
}


/*Company*/
#previewCompany {
    position: absolute;
    top: 195px;
    left: 30px;
    
    color: black;
    text-align: left;
    font-size: 20px;
}

#previewCompanyP {
    margin: 0;
}