@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap');

body {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    
    background: rgb(26, 43, 68);
    font-family: 'Inconsolata', monospace;
    text-align: center;
}

h1 {
    top: 0;
    left: 0;
    margin: 0;
    
    padding-top: 400px;
}