@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap');

/*TODO: muss noch richtig angewand werden*/
@font-face {
    font-family: "CascadiaCodePL";
    src: url('fonts/CascadiaCode-2110.31/ttf/CascadiaCodePL.ttf');
}

body {
    background-color: rgb(50, 50, 50);
    
    color: white;
}

#container {
    font-family: 'CascadiaCodePL', monospace;
    
    position: absolute;
    top: 0px;
    left: 0px;
    width: 80%;
    height: 80%;
    margin: 5% 10%;
    float: left;
    
    text-align: center;
}

button, input {
    color: black;
}


